.tabs {
  border: 1px solid black;
}

.tablist {
  display: flex;
  border: 1px solid purple;
}

.tab {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid teal;

  &.active {
    font-weight: 800;
  }

  &.disabled {
    opacity: 0.5;
  }
}

.tabpanels {
  border: 1px solid tomato;
}

.tabpanel {
  min-height: 200px;
  padding: 25px;
  border: 1px solid navy;
}

.card {
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
}

.item {
  cursor: pointer;
  margin-top: 5px;
}

.fj-c {
  display: flex;
  justify-content: center;
}

.fg-1 {
  flex-grow: 1;
}

$time: 0.5s;

.circle {
  transition: $time;
  height: 45px;
  width: 45px;
  margin: 5px;
  border-radius: 50%;
  background: #faf9fa;
  box-shadow: 0 3px 5px #ccc;
  border: 1px solid #faf9fa;
}

.circle-on {
  transform: translateX(45px);
}

.switch {
  transition: $time;
  height: 50px;
  width: 100px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px #ccc;
  border: 1px solid #eee;
}

.switch-on {
  background: #8bde8f;
  // justify-content: flex-end;
  border: 1px solid #8bde8f;
}

.switch-off {
  background: #faf9fa;
  border: 1px solid #faf9fa;
  // justify-content: flex-start;
}

.top-level {
  display: flex;
}

.left-panel {
  width: 50%;
}

.right-panel {
  width: 50%;
}

.lecture-list {
}

.lecture {
  border: 1px solid grey;
  margin-top: 5px;
  padding: 5px;
}

.ball {
  background: blue;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.clock-hand {
  // background: black;
  width: 0;
  height: 0;
  border-bottom: 200px solid black;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
